:root{
    --primary:#4E0F6D;
    --primarylow:rgb(78, 15, 109,0.5);
    --secondary:#ffc600;
    --tertiary:#f5f5f5;

    
    }
    
._bg{
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--tertiary);
}    
.nav_bar{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: var(--tertiary);
    position: sticky;
    top: 0;

}
.company_name{
    /* width: 50%; */
    flex: 1;
    text-align: center;
    font-size: 2rem;
    position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.company_name>:nth-child(2){
  font-family: cursive;
  font-size: 1.5rem;  
}
.others{
    /* width: 50%; */
    flex: 1;

    height: 100%;
    text-align: end;
    position: relative;
    /* background-color: #ffc600; */
}
.others>:nth-child(1){
    height: 1rem;
    width: 2px;
    color: var(--tertiary);
    padding: 1rem;
}

.head{
    color: var(--primary);
    text-align: center;
    padding: 0.5rem;
}

.all_contents{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 2rem;
    padding-top: 0;
}
.main_content{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.center_btn{
        display: flex;
        justify-content: center;
        align-items: center;
    

}
.loadings{
    background-color: #ffffff;
    display: flex;
}
.table{
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

thead{
    background-color: var(--primary) ;
    color: var(--tertiary);
    text-align: center;
}
tbody{
    text-align: center;
}
.view_btn{
    /* padding: 0.4rem 0.6rem; */
    padding: 0.4rem;
    border: none;
border-radius: 10px;
background-color:var(--primary);
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* gap: 0.5rem; */
/* display: flex;
justify-content: center;
align-items: center; */
color: var(--secondary);
cursor: pointer;
}
.icon{
    margin-right: 0.5rem;

}
.green_color{
    color: rgb(4, 205, 4);
    /* font-weight: bold; */
}
.red_color{
    color: red;
}
.center_btn>.inside_center_btn{
padding: 0.4rem 0.6rem;
border-radius: 15px;
background-color:var(--secondary);
display: flex;
justify-content: center;
align-items: center;
color: var(--primary);
cursor: pointer;

}
.inside_center_btn>:first-child{
    /* padding: 1rem; */
/* color: var(--primary); */
height: 1.5rem;
width: 1.5rem;
text-align: center;
}
.inside_center_btn>.add_btn{
    text-decoration: none;
    font-weight: 500;
    color: var(--primary);
    padding-left: 0.5rem;
    font-size: 1rem;

}
.inside_center_btn:hover
/* ,.inside_center_btn>.add_btn:hover */
{
    color: var(--tertiary);
}

.side_content{
    background-color:var(--secondary);
    border-radius: 20px;
    width: 100%;
    height: 100%;
padding: 1rem;
}
.side_content>.token_box{
    background-color: var(--primary);
    /* padding: 1rem; */
    border: 0.5rem solid var(--primary);
    
}
.token_box>.token_box_top{
    background-color: var(--primary);
    text-align: center;
    padding: 0.5rem;
    color: var(--tertiary);
}
.token_box>.token_box_bottom{
    background-color: var(--tertiary);
    padding: 0.5rem;
    border-radius: 100px;
    /* margin: 1rem; */
}
.page_back_btn{
    margin: 10px;
    padding: 5px;
    width: 60px;
    height: 30px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    
    font-size: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(78, 15, 109,0.5) ;
    /* color:#222828; */
    color:var(--tertiary);
    /* border: 1px solid #f4a700; */
    font-weight: bold;
}
.page_back_btn:hover{
    color:var(--secondary);
}
.blockstwo{
    margin-top: 0 !important;
}