:root {
  --primary: #4e0f6d;
  --primarylow: rgb(78, 15, 109, 0.5);
  --secondary: #ffc600;
  --secondarylow: rgb(255, 198, 0, 0.3);
  --secondarymedium: rgb(255, 198, 0, 0.4);

  --tertiary: #f5f5f5;
  --tertiarylow: rgb(245, 245, 245, 0.3);
}
._bg {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--tertiary);
}

.user_nav_bar {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--tertiary);
  position: sticky;
  top: 0;
  z-index: 2;
}
.user_nav_bar > .company_name {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.company_name > :nth-child(2) {
  font-family: cursive;
  font-size: 1.5rem;
}
.user_nav_bar > .others {
  height: 100%;
  place-content: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  text-align: end;
  position: relative;
}

.login_person > span {
  height: 3px !important;
  width: 2px !important;
  color: var(--tertiary);
  padding-right: 0.5rem;
}
.user_nav_bar > .others > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: var(--tertiary);
  margin: 0;
}
ul > li {
  list-style: none;
  cursor: pointer;
}
.banner_contents {
  display: grid;
  height: 75vh;
  gap: 1rem;
  padding: 2rem;
  padding-top: 0;
  background-color: var(--primary);
}
.banner_contents > .sliding_content {
  width: 100%;
  border-radius: 30px;
  height: 100%;
  background-color: var(--tertiary);
}

.slide_img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.search_content {
  padding: 1rem;
  display: flex;
  place-content: center;
  padding-bottom: 0;
}
.search_bar {
  width: 50%;
  display: flex;
  place-content: center;
  border-radius: 15px;
  padding-left: 0.3rem;
  border: 2px solid var(--secondary);
  overflow: hidden;
}
#user_input {
  background: none;
  width: 85%;
  height: 100%;
  color: var(--primary);
  border: 0;
  outline: 0;
  font-size: 15px;

  padding: none;
}
.search_button {
  width: 15%;
  padding: 0.4rem 0.6rem;
  background-color: var(--secondary);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  cursor: pointer;
}
.search_button > :first-child {
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
}
.search_button {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  padding-left: 0.5rem;
  font-size: 1rem;
}

.cart {
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary);
  font-size: 4vh;
  text-align: center;
  margin-left: 1%;
  color: var(--primary);
  font-weight: bold;
  padding: 0.5%;
  border-radius: 10px;
  position: sticky;
  top: 45%;
  z-index: 2;
  cursor: pointer;

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
}

.display_foods {
  display: flex;
  place-content: center;
}
.inside_display_foods {
  border-radius: 10px;
  padding: 1rem;
  width: 95%;
  background-color: white;
}
.margintop {
  margin-top: 0;
}
.foods_containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
.food_box {
  width: 32%;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondarylow);
  padding: 1%;
}
.food_box_black {
  width: 32%;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondarylow);
  padding: 1%;
  mix-blend-mode: luminosity;
}

.food_box_left {
  width: 100%;
  height: 100%;

  overflow: hidden;
  background-color: #4e0f6d;
}
.food_box_left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food_box_right {
  width: 100%;
  padding-left: 4%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.2rem;
  overflow: hidden;
}
.food_box_right_top > table {
  width: 100%;
  color: var(--primary);

  height: 80%;
}
.food_box_right_top > table > tr > td {
  margin-bottom: 5%;
}
.tr_veg_nveg {
  height: 25px;
  width: 25px;
}
.food_box_right_top > table > tr > td > h5 {
  width: 100%;
  margin: 0;
  font-weight: bold;
  font-size: 1.5vw;
}
.food_box_right_top > table > tr > td > h6 {
  width: 100%;
  margin: 0;
  font-size: 1vw;
}

.food_box_right_top > table > tr > td {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.food_box_right_top > table > tr > td > .price {
  width: 40%;
  font-weight: bold;
  margin: 0;
  font-size: 1.5vw;
}

.food_box_right_top > table > tr > td > p {
  font-size: 1.5vh;
  margin: 0;
}
.food_box_right_bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.addtocart {
  background-color: white;
  border: none;
  color: var(--primary);
  font-weight: bold;
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
}
.addtocart_added {
  background-color: var(--secondarymedium);
  border: none;
  color: var(--primary);
  width: 80%;
  font-weight: bold;

  padding: 0.5rem;
  border-radius: 10px;
}
.zindex {
  z-index: 2;
}
.cart_box {
  align-items: center;
  display: flex;
  height: 70vh;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;

  width: 60vw;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 0.5rem;
}
.inside_cart_box {
  height: 90%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 1rem;
  background-color: var(--tertiary);
  border-radius: 15px;
}
.inside_cart_box > h3 {
  margin-top: 20vh;
  text-align: center;
}
.cart_table {
  width: 100%;
}
.cart_table > tr {
  text-align: center;
  width: 100%;
  height: 10%;
  margin-bottom: 0 !important;
}
.tr_black {
  mix-blend-mode: luminosity;
  text-align: center;
  width: 100%;
  height: 10%;
  margin-bottom: 0 !important;
}
.cart_table > tr > td {
  text-align: center;
  padding: 10px;
}
.cart_table > tr > td > h5 {
  margin: 0;
}
.cart_table > tr > :nth-child(3) {
  width: 15vw;
}
.cart_table > tr > :nth-child(6) {
  width: 5vw;
}

.cart_img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cart_input {
  width: 7vw;
}
.cart_icon {
  font-size: 4vh;
  cursor: pointer;
}
.cart_inc_dec {
  display: flex;
  gap: 0.2rem;
  color: var(--secondary);
  font-weight: bold;
}
.cart_inc_dec > h2 {
  font-weight: bold;
  width: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
.cart_inc_dec > .display_inc_dec {
  width: 4vw;
  color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.cart_price {
  width: 8vw;
}
.cart_notavi {
  width: 21vw;
}
.cart_bottom {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.pay_list > button,
.cart_bottom > button {
  background-color: var(--primary);
  border: none;
  padding: 1%;
  border-radius: 10px;
  width: 15%;
  color: var(--tertiary);
}
.total_price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1%;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--tertiary);
}
.total_price_display {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
  color: var(--primary);
}
.pay_list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.pay_list > div {
  width: 70%;
  background-color: white;
  border-radius: 10px;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primarylow);
  cursor: pointer;
}
.pay_list > div > img {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  object-fit: contain;
}
.forbtnspinner {
  margin: 0 !important;
  height: 2.5vmin !important;
  width: 2.5vmin !important;
}

.yellowlow {
  background-color: var(--tertiarylow) !important;
}
.primary {
  background-color: var(--primary) !important;
}
.primary > h4 {
  color: var(--secondary);
}

.fororder {
  display: flex;
  gap: 1rem !important;
  width: 100%;
  flex-direction: column;
}
.fororder > h4 {
  width: 100%;
  text-align: center;
}
.order_box {
  display: flex;
  flex-direction: column;
}
.order_box_black {
  display: flex;
  flex-direction: column;
  mix-blend-mode: luminosity;
}
.order_box_top {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.order_box_bottom {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  background-color: rgb(78, 15, 109, 0.4);
  display: flex;
  flex-direction: column;
}
.inside_order_box_bottom {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.inside_order_box_bottom > p {
  margin-bottom: 0;
  color: white;
  opacity: 100% !important;
}
.inside_order_box_bottom > :nth-child(2) {
  width: 40%;
}
.order_box_top_one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order_box_top_one > div {
  display: flex;
  gap: 0.5rem;
}
.order_box_top_two {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.refresh_btn {
  background-color: var(--primary);
  border: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 10px;
  width: 20%;
  margin-bottom: 0.3rem;
  color: var(--tertiary);
}
.refresh_btn_icon {
  font-size: 25px;
}
.cart_price > h5 {
  margin: 0;
}
a {
  color: var(--tertiary);
  text-decoration: none;
}
a:visited {
  color: var(--tertiary);
}
a:hover {
  color: var(--tertiary);
}
.swiper-button-prev,.swiper-button-next{
--swiper-navigation-color:var(--primarylow);
}

.swiper-pagination-bullet-active {
  background-color: #4e0f6d !important;
}

@media only screen and (max-width: 600px)  {
  .user_nav_bar {
    flex-direction: column;
  }
  .login_person{
    /* background-color: #ffc600; */
    gap: 0.3rem;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.login_person > span {
  height: fit-content !important;
  width: fit-content !important;
  color: var(--tertiary);
  padding-right: 0;
}
  .search_bar {
    width: 60%;
  }
  .search_button {
    gap: 0.2rem;
    width: 25%;
    font-size: 1.5vh;
  }
  .cart {
    width: 15%;
    font-size: 3vh;
  }

  .banner_contents {
    height: 40vh;
  }
  .inside_display_foods{
    padding: 1rem;
  }
.foods_containers{
  padding: 0.5rem;
}
  .food_box {
    width: 100%;
    height: 30vh;
    padding: 0.5rem;
  }

  table > tr {
    height: 35px;
  }
  .food_box_black {
    width: 100%;
    height: 30vh;
    padding: 0.5rem;
  }

  .food_box_right {
    gap: 0;
  }
  .food_box_right_top > table > tr > td {
    margin-bottom: 2%;
  }

  .food_box_right_top > table > tr > td > h5 {
    font-size: 3vw;
  }
  .food_box_right_top > table > tr > td > h6 {
    font-size: 2.5vw;
  }

  .food_box_right_top > table > tr > td > .price {
    font-size: 2.5vw;
  }

  .food_box_right_top > table > tr > td > p {
    font-size: 1.5vh;
  }

  .cart_box {
    width: 85vw;
  }
  .cart_table > tr > :nth-child(3) {
    width: 20vw;
  }
  .cart_icon {
    font-size: 3vh;
  }
  .cart_table > tr > td {
    padding: 5px;
  }
  tr > :nth-child(2) {
    width: 15px;
  }
  .fororder > .refresh_btn {
    font-size: 2vh;
    width: 25%;
  }
  .order_box_top_two > h6 {
    height: 1.5vh;
  }
  .inside_order_box_bottom > p {
    font-size: 2.3vw;
  }
  .swiper-button-prev,.swiper-button-next{
    --swiper-navigation-size:3vh;
    }
    .swiper-pagination-bullet {
      height: 0.5vh !important;
    }
    .swiper-pagination-bullet-active {
height: 0.5vh !important;
    }
    .inside_cart_box {
      padding: 0.5rem;
    }

}

@media only screen and (min-width: 300px) and (max-width: 450px) {
    .banner_contents{
        height: 30vh;
    }
    .others{
        font-size: 3.5vw;
        width: 100%;
        grid-template-columns: 1.5fr 1fr !important;
    }
    .user_nav_bar > .others > ul {
      gap: 0.5rem;
    }
    .login_person{
        gap: 0.3rem;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .login_person > span {
        height: fit-content !important;
        width: fit-content !important;
        color: var(--tertiary);
        padding-right: 0;
      }
      .search_bar{
        width: 70%;
      }
      .search_button{
        width: 30%;
        font-size: 3vw;
      }
      .search_button > :first-child {
        width: fit-content !important;
        height: fit-content !important;
      }
      #user_input{
        font-size: 10px;
      }
      .cart{
        font-size: 2vh;
        gap: 0.2rem;
        padding: 1%;
      }
      table>tr{
        height: fit-content;
      }
      .addtocart{
        font-size: 2vh;
      }
      .addtocart_added{
        font-size: 2vh;
      }
.cart_table>tr>th{
  font-size: 3vw;
}

.cart_table>tr>td{
  font-size: 3vw;
}
.cart_table>tr>td>img{
  height: 25px;
  width: 25px;
}

.cart_notavi{
  width: 15vw !important;
}
.cart_price>h5{
  font-size: 3vw;
}
.cart_icon{
  font-size: 2vh;
}
.pay_list>h4{
font-size: 5vw;
}
.pay_list>div{
  font-size: 4vw;
  width: 80%;
}
.pay_list>button{
  width: 20%;
  padding: 2%;
  font-size: 3vw;
}
.inside_cart_box{
  padding: 0.3rem;
}
.fororder>.refresh_btn{
  width: 25%;
  font-size: 3vw;
  gap: 0.2rem;
border-radius: 8px;
}
.refresh_btn>.refresh_btn_icon{
  font-size: 4vw;
}
.order_box_top{
padding: 0.5rem;
gap: 0.5rem;
}
.order_box_top_one>h2{
  font-size: 5vw;
  margin: 0;
}
.order_box_top_one>h3{
  font-size: 4vw;
  margin: 0;

}
.order_box_top_two>h6{
  font-size: 2.5vw;
  margin: 0;
}
.inside_order_box_bottom{
  gap: 0.5rem;
}
.inside_order_box_bottom>p{
  font-size: 2vw;
}
.inside_order_box_bottom>:nth-child(2){
  width: 40%;
}
}